<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  
  <add key="Smtp" value="smtp.gmail.com"/>
  <add key="=Port" value="587"/>
  <add key="UserName" value="atharm621@gmail.com"/>
  <add key="Password" value="a8983209880"/>

  <add key="UserId" value="wajahat.husein@gmail.com"/>
  <add key="Password" value="Visit123"/>
  <add key="SenderID" value="TEST"/>
  <add key="SiteUrl" value="http://api.mVaayoo.com/mvaayooapi/MessageCompose?user=#userId#:#password#&amp;senderID=#senderID#"/>

  <add key="LogFilePath" value="C:\Log\ErrorLog.txt"/>
  <add key="DesignPhotoPath" value="\Design Photos\"/>
  <add key="DesignPhotoURL" value="\Design Photos\"/>

  <add key="PurchaseBillStartLabel" value="PBL-"/>
  <add key="SellingBillStartLabel" value="SBL-"/>
  <add key="ExpenseBillStartLabel" value="EBL-"/>

  <add key="CompanyName" value="Octaware Technologies Pvt. Ltd"/>
  <add key="CompanyAddress" value="Andheri East Mumbai. 400072"/>
</appSettings>
    